!/saved_data/*
/saved_data/*
!/saved_data/.gitkeep
/trash
*.old

!/datasets/
/datasets/**
!/datasets/Indian_pines_corrected.mat
!/datasets/PaviaU.mat
!/datasets/reviews.mat
!/datasets/SanDiego.mat
!/datasets/sports.mat
!/datasets/TerrainClean.mat
!/datasets/Urban.mat

!/datasets/20news/
/datasets/20news/**
!/datasets/20news/test.data